:root {
  --Red: hsl(0, 100%, 74%); 
  --Green: hsl(154, 59%, 51%);
  --Blue: hsl(248, 32%, 49%);
  --Dark-Blue: hsl(249, 10%, 26%); 
  --Grayish-Blue: hsl(246, 25%, 77%);
  --border-radius: 10px;
}


*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (prefers-reduced-motion: reduce) {
  body > * {
    animation: none !important;
  }
}

body {
  position: relative;
  background-color: var(--Red);
  background-image: url("./images/bg-intro-mobile.png");
  background-size: cover;
  font-family: 'Poppins', sans-serif;
  padding: 4rem 1rem;
  min-height: 100vh;
}
/* shows only on screen reader's */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}
.text__content {
  color: #fff;
  text-align: center;
  margin-bottom: 3rem;
}
.heading {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
.text__content .paragraph {
  font-weight: 400;
  font-size: 0.9rem;
}
.form__paragraph {
  background-color: var(--Blue);
  text-align: center;
  padding: 1rem 2.5rem;
  color: #fff;
  font-weight: 400;
  font-size: 0.9rem;
  border-radius: var(--border-radius);
  margin-bottom: 1.5rem;
  box-shadow: 0 6px rgba(62, 60, 73, 0.3);
}
.form__paragraph span {
  font-weight: 700;
}
.form {
  background-color: #fff;
  padding: 1rem;
  border-radius: var(--border-radius);
  box-shadow: 0 6px rgba(62, 60, 73, 0.3);
}
.form div, .btn {
  width: 100%;
  margin-bottom: 1rem;
  position: relative;
}
.input {
  width: 100%;
  padding: 1em;
  border: 1px solid var(--Grayish-Blue);
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
}

.input::placeholder {
  color: var(--Dark-Blue);
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}
.input.error::placeholder {
  color: var(--Red);
}
.input.error {
  border-color: var(--Red);
}
.error, .error__message {
  color: var(--Red);
}
.error__img {
  position: absolute;
  z-index: 500;
  right: 1.5rem;
  top: 0.8rem;
}
.error__message {
  font-size: 0.7rem;
  font-weight: 500;
  text-align: right;
  width: 100%;
  margin-top: 0.5rem;
}

.btn {
  display: grid;
  align-items: center;
  border: none;
  border-radius: 10px;
  background-color: var(--Green);
  color: #fff;
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 1px;
  padding: 1.4rem 0;
  text-transform: uppercase;
  text-align: center;
  line-height: 0;
  box-shadow: 0px -4px rgba(62, 60, 73, 0.1) inset;
  cursor: pointer;
  transition: opacity 0.4s ease-in;
}
.terms  {
  text-align: center;
  font-size: 0.7rem;
  color: var(--Grayish-Blue);
  font-weight: 500;
}
.terms a {
  text-decoration: none;
  font-weight: 700;
  color: var(--Red);
}
.attribution {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
  color: #fff;
}
.attribution a {
  color: var(--Dark-Blue);
  font-weight: 600;
}

@media (min-width: 375px) {
  body {
    padding: 4rem 1.5rem;
  }
  .form__paragraph {
    padding-inline: 4rem;
  }
  .form {
    padding: 1.5rem;
  }
}
@media (min-width: 768px) {
  body {
    padding: 4rem 5rem;
  }
  .text__content .paragraph {
    padding: 0 5rem;
  }
}

@media (min-width: 1024px) {
  body {
    background-image: url("./images/bg-intro-desktop.png");
    padding: 0 4rem;
  }
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    max-width: 1000px;
    margin-inline: auto;
    min-height: 100vh;
  }
  .form__container {
    min-width: 50%;
  }
  .text__content {
    text-align: left;
    margin-bottom: 0;
  }
  .heading {
    font-size: 2.5rem;
  }
  .text__content .paragraph {
    padding: 0;
  }
}
@media (hover:hover) {
  .btn:hover {
    opacity: 0.8;
  }
}